{% extends 'layout' %}

{% set pageTitle %}
Keresés{% if form.textToSearch is defined %}: {{ form.textToSearch }}{% endif %} | Szentírás
{% endset %}

{% macro filterRow(form, books, translations, idPrefix = '') %}
    <div class="mb-2 row">
        <div class="col">
            <select name="book" class="form-select" id="{{ idPrefix }}book">
                <option value="all" {{ 'all' == form.book ? 'selected' }}>könyv: mind</option>
                <option value="old_testament" {{ 'old_testament' == form.book ? 'selected' }}>Ószövetség</option>
                <option value="new_testament" {{ 'new_testament' == form.book ? 'selected' }}>Újszövetség</option>
                {% for book in books %}
                    <option value="{{ book.usx_code }}" {{ book.usx_code == form.book ? 'selected' }}>{{ book.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select name="translation" class="form-select" id="{{ idPrefix }}translation">
                <option value="0" {{ form.translation is not defined ? 'selected' }}>fordítás: mind</option>
                {% for translation in translations %}
                    <option value="{{ translation.id }}" {{ translation.id == form.translation.id ? 'selected' }}>{{ translation.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select name="grouping" class="form-select" id="{{ idPrefix }}grouping">
                <option value="verse" {{ form.grouping == 'verse' ? 'selected' }}>versenként</option>
                <option value="chapter" {{ form.grouping == 'chapter' ? 'selected' }}>fejezetenként</option>                            
                <option value="book" {{ form.grouping == 'book' ? 'selected' }}>könyvenként</option>
            </select>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="border-start border-top border-end nav-link disabled" aria-disabled="true"><b>Keresés</b></a></li>        
        <li role="presentation" class="nav-item"><a role="button" class="nav-link {{ greekSearch ? '': 'active'}}" role="tab" data-bs-toggle="tab" data-bs-target="#hun">Magyar</a></li>
        <li role="presentation" class="nav-item"><a role="button" class="nav-link {{ greekSearch ? 'active': ''}}" role="tab" data-bs-toggle="tab" data-bs-target="#grc">Görög</a></li>
    </ul>
    <div class="tab-content border-start border-bottom border-end search-panel mb-2">
        <div role="tabpanel" class="tab-pane {{ greekSearch ? '': 'active'}}" id="hun">
            <form role="form" class="form-horizontal" method="post" action="{{ action('Search\\SearchController@anySearch') }}" id="textSearchForm">
                {{ csrf_field() }}                
                <div class="input-group mb-2">
                <input type="text" autocomplete="off" name="textToSearch" id="searchInput" value="{{ form.textToSearch }}" placeholder="Keresendő szöveg" class="form-control"/>
                <a href="javascript:void(0)" id="searchButton" class="btn btn-default btn-primary"><span id="searchHitsButtonContent"><i class="bi-search"></i> Keresés</span></a>
                </div>
                {{ _self.filterRow(form, books, translations, 'text-search-') }}
            </form>
        </div>
        <div role="tabpanel" class="tab-pane {{ greekSearch ? 'active': ''}}" id="grc">
            {{ include('search.greekSearchForm') }}
        </div>
    </div>

    {% set noResultText %}
        Nem találod, amit keresel? Próbáld MI alapú keresőnket! <a href="/ai-search?textToSearchAi={{ form.textToSearch }}" class="btn btn-primary" id="aiSearchLink"><i class="bi bi-robot"></i> MI keresés</a>
    {% endset %}

    {% if bookRef is not defined and fullTextResults is not defined and form.textToSearch != '' %} 
    <div id="noResult" class="alert alert-info mb-1">
        {{ noResultText }}
    </div>
    {% endif %}

    <div id="noResultAutocomplete" class="alert alert-info hidden  mb-1">{{ noResultText }}</div>
                        
    {% if bookRef is defined %}
        <h4>Igehely</h4>
        {% for verseContainer in bookRef.verseContainers %}
            <blockquote>
                <footer>
                    <a href="{{ bookRef.link }}">{{ bookRef.label }}</a>
                </footer>
                {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  translation, "hideXrefs": true } %}
            </blockquote>
        {% endfor %}
    {% endif %}

    {%if translationHits %}
    <div class="mb-2">
    {% for translationHit in translationHits|filter(translationHit => translationHit.hitCount > 0) %}
        <form class="translationHitForm" action="/kereses/search?textToSearch={{ form.textToSearch }}&translation={{ translationHit.translation.id }}&book={{ form.book }}&grouping={{ form.grouping }}" method="post">
            {{ csrf_field() }}
        <a 
           role="button" class="btn btn-info btn-sm translationHit">{{ translationHit.translation.abbrev }} <sup>{{ translationHit.hitCount }}</sup>
        </a>
        </form>
    {% endfor %}
    </div>
    {% endif %}
   
{% macro pagination(form, results, action) %}
    {% set limit = form.limit %}
    {% set offset = form.offset %}
    {% set hitCount = results|length %}
    {% set fields %}
        <input type="hidden" name="book" value="{{ form.book }}">
        <input type="hidden" name="textToSearch" value="{{ form.textToSearch }}">
        <input type="hidden" name="grouping" value="{{ form.grouping }}">
        <input type="hidden" name="translation" value="{{ form.translation is not defined ? 0 : form.translation.id }}">            
        <input type="hidden" name="greekTranslit" value="{{ form.greekTranslit }}">
        <input type="hidden" name="greekText" value="{{ form.greekText }}">
        <input type="hidden" name="mode" value="{{ form.mode }}">
        {{  csrf_field() }}
    {% endset %}
    {% if hitCount > limit %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% set prevOffset = offset - limit %}
                {% if prevOffset >= 0 %}
                    <li class="page-item">
                        <form action="{{ action('Search\\SearchController@' ~ action) }}" method="POST">
                            {{ fields }}
                            <input type="hidden" name="offset" value="{{ nextOffset }}">
                            <button class="page-link interstitial" type="submit"><span aria-hidden="true" class="bi bi-chevron-left"></span></button>
                        </form>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                            <span aria-hidden="true" class="page-link bi bi-chevron-left"></span>
                    </li>
                {% endif %}
                {% set currentPage = (offset / limit) + 1 %}
                {% set totalPages = (hitCount / limit)|round(0, 'ceil') %}
                {% for i in range(1, totalPages) %}
                    {% set currentOffset = (i - 1) * limit %}
                    {% if i == currentPage %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <form action="{{ action('Search\\SearchController@'  ~ action) }}" method="POST">
                                {{ fields }}
                                <input type="hidden" name="offset" value="{{ currentOffset }}">
                                <button class="page-link interstitial" type="submit">{{ i }}</button>
                            </form>
                        </li>
                    {% endif %}
                {% endfor %}
                {% set nextOffset = offset + limit %}
                {% if nextOffset < hitCount %}
                    <li class="page-item">
                        <form action="{{ action('Search\\SearchController@'  ~ action) }}" method="POST">
                            {{ fields }}
                            <input type="hidden" name="offset" value="{{ nextOffset }}">
                            <button class="page-link interstitial" type="submit"><span aria-hidden="true" class="bi bi-chevron-right"></span></button>
                        </form>
                    </li>
                {%  else %}
                    <li class="page-item disabled">
                        <span aria-hidden="true" class="page-link bi bi-chevron-right"></span>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endmacro %}
   
    {% if fullTextResults.resultsByBookNumber is defined or  fullTextResults is defined %}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a role="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#newstyle"><i class="bi bi-layout-three-columns"></i></a></li>
            <li role="presentation" class="nav-item"><a role="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#oldstyle"><i class="bi bi-list-columns-reverse"></i></a></li>
        </ul>
    <div class="tab-content ">                   
    <div role="tabpanel" class="tab-pane active" id="newstyle">
    
    {% if fullTextResults.resultsByBookNumber is defined %}
        {% set results =  fullTextResults.resultsByBookNumber %}

        {{ _self.pagination(form, results, greekSearch ? 'greekSearch' : 'anySearch') }}

        {% for key, chapters in results %}
            {% if loop.index >= form.offset and loop.index < form.offset + form.limit %}
            <div class="searchResult">
                {% for abbrev,group in chapters.translations %}
                        <a data-target="#g{{ key }}_{{ group.trans.abbrev }}" class="searchResultTranslationSelector btn btn-outline-secondary btn-sm {% if loop.first %}active{% endif %}">
                            <i class="bi bi-book"></i>{% if form.translation is not defined or form.translation.id < 1 %}
                            <span title="{{ group.trans.name }}">{{ group.trans.abbrev }}</span>
                        {% endif %}                        
                            <span class="header-bookabbrev {{ loop.first ? 'active d-sm-inline' : 'inactive d-none d-md-inline'}}" title="{{ group.book.name }}">{{ group.book.abbrev }}</span>
                            <span class="header-ref {{ loop.first ? 'active' : 'd-none d-md-inline'}}">
                                {% if form.grouping == 'verse' or  form.grouping == 'chapter' %}{{ group.verses[0].chapter }}{% endif %}
                                {%- if form.grouping == 'verse' %},{{ group.verses[0].numv }}{% endif %}
                            </span>                                                                                                      
                        </a>
                {% endfor %}
                <div>                   
                {% for abbrev,group in chapters.translations %}
                        <div class="searchResultTranslationText searchResultVerse {% if loop.first %}active{% endif %}" id="g{{ key }}_{{ group.trans.abbrev }}">
                            <a href="/{{ group.trans.abbrev}}/{{ group.book.abbrev }}{% if form.grouping == 'verse' or  form.grouping == 'chapter' %}{{ group.verses[0].chapter }}{% endif %}{% if form.grouping == 'verse' %},{{ group.verses[0].numv }}{% endif %}"><i class="bi-arrow-right-circle-fill"></i></a>
                        {% for verse in group.verses %}
                            {% if verse.chapterStart %}{% if form.grouping == 'book' %}{{ loop.first ? "" : "<br>" }}<strong>
                                <a href="/{{ group.trans.abbrev }}/{{ group.book.abbrev }}{{ verse.chapter }}">{{ verse.chapter }}</a></strong> {% endif %}{% endif %}
                            {% if verse.ellipseBefore %} [...] {% endif %}{% if form.grouping == 'book' or  form.grouping == 'chapter' %}<sup>
                                <a href="/{{ group.trans.abbrev}}/{{ group.book.abbrev }} {{ verse.chapter }},{{ verse.numv }}">{{ verse.numv }}</a></sup>{% endif %}{{ verse.text|raw }}
                                {% if verse.greekText %}<div class="greek">{{ verse.greekText }}</div><div class="greek">{{ verse.greekTransliteration }}</div>{% endif %}
                        {% endfor %}
                        <div class="greek">{{ chapters.greekText }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>                   
            {% endif %}                 
        {% endfor %}
        {{ _self.pagination(form, results, greekSearch ? 'greekSearch' : 'anySearch') }}
    {% endif %}
    
        </div>                   
        <div role="tabpanel" class="tab-pane" id="oldstyle">
        
    {% if fullTextResults is defined %}
        <h4><span class="badge">{{ fullTextResults.hitCount }} találat</span></h4>
        {% for result in fullTextResults.results %}
            <h5><a href="/{{ result.translation.abbrev }}/{{ result.book.abbrev }}"><i class="bi bi-book"></i> {{ result.book.name }}
                    ({{ result.translation.name }})</a></h5>
            <div>
                {% if form.grouping == 'verse' %}
                    {% for verse in result.verses %}
                        <div class="searchResultVerse">
                            <a href="/{{ result.translation.abbrev }}/{{ result.book.abbrev }} {{ verse.chapter }},{{ verse.numv }}">
                                {{ verse.chapter }},{{ verse.numv }}</a>
                            {{ verse.text|raw }}
                            {% if verse.greekText %}<div class="greek">{{ verse.greekText }}</div>{% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for chapter, verses in result.chapters %}
                        <div class="searchResultVerse">
                            <a href="/{{ result.translation.abbrev }}/{{ result.book.abbrev }} {{ chapter }}">{{ chapter }}</a>
                            {% for verse in verses %}
                                {% if verse.ellipseBefore %} [...] {% endif %}<sup>{{ verse.numv }}</sup>{{ verse.text|raw }}
                                {% if verse.greekText %}<div class="greek">{{ verse.greekText }}</div>{% endif %}
                            {% endfor %}
                            </div>
                    {% endfor %}
                {% endif %}
                        </div>
        {% endfor %}
    {% endif %}
        
        </div></div>
    {% endif %}    
        
    {% if form.textToSearch == '' and  form.greekTranslit == "" %}
        {% include 'search/searchInfo' %}
    {% endif %}

{% endblock %}

{% set js=['pages/search'] %}