{% extends 'layout' %}

{% block meta %}
    <link rel="canonical" href="{{ url('/' ~ seoUrl ) }}" />
    {% if seoUrl != canonicalUrl or mediaEnabled or fullContext %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}

    <meta property="og:url" content="{{ url('/' ~ canonicalUrl ) }}">
    <meta property="og:title" content="{{ metaTitle }}">
    <meta property="og:description" content="{{ teaser }}">
	<meta property="og:image" content="{{ asset('img/biblia.jpg')}}">
{% endblock %}

{% block content %}
    <div class="modal fade" id="qrModal" tabindex="-1" role="dialog">
        <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>
    <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog">
        <div class="modal-dialog"><div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nyomtatás/PDF</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">  
            <a tabindex="0" id="pdfDownload" class="btn btn-primary"><i class="bi-printer"></i> Nyomtatási kép létrehozása</a>    
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>        
            </div>
        </div></div>
    </div>
    {% if readingPlanDay %}
    <div>
        <h1>
            <a href="/tervek/{{ readingPlanDay.plan_id }}">{{ readingPlan.name }}</a> - {{ readingPlanDay.day_number }}. nap
        </h1>
        <h4>
            {{ (readingPlanDay.description|raw ~ (readingPlanDay.description ? ', ' : '') ~ readingPlanDay.verses|replace({';': ', '}))|trim }}
        </h4>
        <br>
    </div>
            {# <div class="col-12">
                <p class="lead mb-2">
                    <strong>{{ readingPlanDay.day_number }}. nap</strong> - 
                    <span class="text-muted">{{ readingPlanDay.description|raw }}</span>
                </p>
                <p class="small text-secondary">
                    {{ readingPlanDay.verses|replace({';': ', '}) }}
                </p>
            </div> #}
    {% endif %}
    <div class="translationButtons">
        {% include 'textDisplay.translationButtons' with { 'translations': translations, 'translation': translation, 'mediaEnabled': mediaEnabled} %}
    </div>

    {% if not fullChaptersIncluded and not fullContext %}
    <a class="btn btn-info" id="fullContextButton" href="{{ url('/' ~ canonicalUrl ~ '?fullContext' ~ (mediaEnabled ? '&media' : '' )) }}" title="Teljes szövegkörnyezet megjelenítése">
        <i class="bi-chevron-expand"></i> Teljes szövegkörnyezet megjelenítése</a>
    {% endif %}
    {% if fullContext %}
        <a class="btn btn-info" id="fullContextButton" href="{{ url('/' ~ canonicalUrl ~ (mediaEnabled ? '?media' : '')) }}" title="Csak a hivatkozás szövegének megjelenítése">
            <i class="bi-chevron-contract"></i> Csak a hivatkozás szövegének megjelenítése</a>
    {% endif %}
    <span id="data" {% if scrollTo %} data-scroll-to="{{ scrollTo }}" {% endif %}></span>    
    {{ include('textDisplay.verseContainers') }}
    {% if previousDay %}
        <a href="/tervek/{{ previousDay.plan_id }}/{{ previousDay.day_number }}" class="btn btn-primary btn-default"><i class="bi bi-chevron-left"></i> Előző nap</a>
    {% endif %}
    {% if readingPlanDay %}
        <a href="/tervek/{{ readingPlanDay.plan_id }}" class="btn btn-primary btn-default"><span class="btn-primary"><i class="bi bi-chevron-up"></i></span> Olvasási terv</a>
    {% endif %}
    {% if nextDay %}
        <a href="/tervek/{{ nextDay.plan_id }}/{{ nextDay.day_number }}" class="btn btn-primary btn-default">Következő nap <i class="bi bi-chevron-right"></i></a>
    {% endif %}
    {% if fullChaptersIncluded and not fullContext and not readingPlanDay %}
    <div class="card bg-light mb-2">
        <div class="card-header collapsible" data-bs-toggle="collapse" data-bs-target="#cardContent">
            <i class="bi bi-chevron-down"></i>
            Minden {{ verseContainers[0].book.usx_code != "PSA" ? "fejezet" : "zsoltár"}}...
        </div>
        <div id="cardContent" class="collapse">
            <div class="card-body">
                <div class="chapterButtons">
                    {{ include('textDisplay.chapterButtons', { 'bookAbbrev': verseContainers[0].book.abbrev, 'maxChapter': chapterLinks.chapterCount, 'actualChapter': verseContainers[0].parsedVerses[0].chapter}) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if mediaEnabled and otherMedia %}
        {% from 'macros' import image %}
        <h5>További illusztrációk</h5>
        {% for otherMediaItem in otherMedia %}
            {% for image in otherMediaItem %}
                {{ image(image) }}
            {% endfor  %}
        {% endfor %}
        <hr>
    {% endif %}
    <div class="translationButtons">
        {{ include('textDisplay.translationButtons') }}
    </div>
    {{ include('textDisplay.share') }}
{% endblock %}

{% block extramenu %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-wrap">
                        <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleNumv">
                            <i class="toggle bi-check-square active"></i>
                            <i class="toggle bi-square inactive"></i>
                            Versszámozás</a>
                        <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleXrefs">
                            <i class="toggle bi-check-square active"></i>
                            <i class="toggle bi-square inactive"></i>
                            Hivatkozások</a>
                        <a href="javascript:void(0)" role="button"  class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleHeadings">
                            <i class="toggle bi-check-square active"></i>
                            <i class="toggle bi-square inactive"></i>
                            Címsorok</a>
                        <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm inactive m-1 flex-fill" id="toggleAiTools">
                            <i class="toggle bi-check-square active"></i>
                            <i class="toggle bi-square inactive"></i>
                            MI eszközök</a>                    
                            {% if not mediaEnabled %}
                                <a class="btn-sm btn btn-info m-1 flex-fill {{ hasMedia ? '' : 'd-none' }}" id="mediaButton" href="{{ url('/' ~ canonicalUrl ~ '?media' ~ (fullContext ? '&fullContext' : '')) }}" title="Illusztrációk megjelenítése">
                                    <i class="bi-images"></i> Illusztrációk megjelenítése</a>
                                {% endif %}
                            {% if mediaEnabled %}
                                    <a class="btn-sm btn btn-info m-1 flex-fill {{ hasMedia ? '' : 'd-none' }}" id="mediaButton" href="{{ url('/' ~ canonicalUrl ~ (fullContext ? '?fullContext' : '')) }}" title="Illusztrációk elrejtése">
                                        <i class="bi-images"></i> Illusztrációk elrejtése</a>
                                {% endif %}    
                        
            </div>
        </div>
    </div>
{% endblock %}    

{% set js=['pages/verses'] %}